spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mariadb://localhost:3306/nyamnyam}
    username: ${SPRING_DATASOURCE_USERNAME:nyamnyam}
    password: ${SPRING_DATASOURCE_PASSWORD:nyamnyam_pass}
    driver-class-name: org.mariadb.jdbc.Driver

  data:
    redis:
      host: ${SPRING_REDIS_HOST:localhost}
      port: 6379

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
